h3,
h5 {
  color: #000
}

.button__form:hover,
button:focus,
button:hover {
  opacity: .4;
  cursor: pointer
}

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --white: #ffffff;
  --black: #000000;
  --gray: #A0A0A0;
  --color-visited: #051c6e;
  --color-active: #A0A0A0;
  --color-sun-one: #edc655;
  --color-sun-two: #fcffad;
  --color-sun-three: #f76414
}

.navigation-list__item,
.navigation-list__item:hover {
  color: #306fdb !important;
  padding: 4px 10px;
  text-decoration: none
}

a {
  color: var(--primary-color);
  color: #000
}

body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6
}

h1 {
  font-size: 30px;
  font-weight: 500
}

h2 {
  font-size: 24px;
  font-weight: 400
}

h3 {
  font-size: 16px;
  font-weight: 400
}

h4 {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #7a7a7a
}

h5 {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none
}

a:visited {
  color: var(--color-visited)
}

.LatestProjects__item a,
a:focus,
a:hover {
  text-decoration: none
}

a:active {
  color: var(--color-active)
}

li {
  margin-bottom: 10px
}

code {
  background-color: #e5edf4;
  border-radius: 6px;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: .9em;
  padding: 2px 5px;
  color: #24292e
}

.navigation-list__item {
  border: 2px solid #fff !important;
  font-weight: 400;
  border-radius: 30px;
  transition: .3s ease-in-out;
  margin: -5px
}

.navigation-list__item:hover {
  border: 2px solid #306fdb !important;
  background-color: #fff !important;
  font-weight: 400;
  border-radius: 30px;
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, .4) !important
}

.navigation-list__item--active,
.navigation-list__item--active:hover {
  background-color: #306fdb !important;
  border: 2px solid #306fdb !important;
  color: #fff !important;
  text-decoration: none;
  font-weight: 400;
  border-radius: 30px;
  padding: 4px 10px;
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, .4) !important
}

.LatestProjects__picture,
.contact__item,
.contact__project,
.download-button {
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, .4);
  transition: .2s ease-in-out
}

.navigation-list {
  list-style-type: none
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px
}

.button__form {
  border: none;
  font-family: inherit;
  background-color: var(--black);
  opacity: 60%;
  color: var(--white);
  text-decoration: none;
  padding: 20px;
  border-radius: 30px;
  border-bottom: 2px solid var(--black)
}

.homeAlign {
  margin-top: 2%;
  margin-left: 9%
}

.profile__container {
  position: relative;
  float: left;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
  padding: 10px;
  margin: 10px
}

.profile__portrait-circle {
  width: 107%;
  grid-area: overlap;
  align-self: center;
  justify-self: center;
  display: block;
  margin: 0 .5rem;
  animation: 5s infinite pulse
}

.profile__portrait-smallcircle,
.profile__portrait-smallcircle-container {
  display: inline-block;
  animation: 5s infinite pulse;
  position: absolute;
  bottom: 0;
  right: 0;
  grid-area: overlap
}

.profile__portrait {
  width: 100%;
  border-radius: 50%;
  grid-area: overlap;
  align-self: center;
  justify-self: center
}

.profile__portrait-smallcircle {
  width: 30%;
  margin: 0 .5rem
}

.profile__portrait-smallcircle-container {
  border-radius: 30px;
  background: rgba(0, 0, 0, .4);
  backdrop-filter: blur(8px);
  width: 30px;
  height: 30px;
  margin-right: 13px;
  margin-bottom: 5px
}

.contactme,
.gotoprojects {
  backdrop-filter: blur(2px)
}

.circlecontainer {
  width: 100%;
  grid-area: overlap
}

.profile__portrait-bigrectangle {
  width: 5%;
  grid-area: overlap;
  display: inline-block;
  margin: 0 .5rem;
  animation: 6s heartBeat;
  position: absolute;
  bottom: 10px;
  right: 21.5px
}

.profile__portrait-mediumrectangle,
.profile__portrait-smallrectangle {
  width: 4%;
  grid-area: overlap;
  display: inline-block;
  margin: 0 .5rem;
  position: absolute
}

.profile__portrait-mediumrectangle {
  animation: 5s heartBeat;
  bottom: 12px;
  right: 16px
}

.profile__portrait-smallrectangle {
  animation: 4s heartBeat;
  bottom: 15px;
  right: 9.5px
}

.profile__portrait-bigrectangle:hover,
.profile__portrait-mediumrectangle:hover,
.profile__portrait-smallrectangle:hover {
  cursor: pointer;
  display: inline-block;
  margin: 0 .5rem;
  animation: 4s infinite heartBeat
}

.introtext {
  display: block
}

.helloworld {
  margin-top: 30px
}

.about-picture,
.about-text {
  display: block;
  margin: 5%
}

.contact,
.socials {
  max-width: none;
  display: flex;
  flex-direction: row
}

.contact-container {
  margin-top: 40px;
  margin-left: -10%;
  padding-left: 10%;
  overflow-x: scroll
}

.contact {
  margin: 5px;
  max-height: fit-content
}

.contact__item {
  line-height: 0;
  margin: 5px;
  align-self: center;
  border-radius: 30px
}

.contact__project {
  border-radius: 30px;
  line-height: 0;
  margin: -6px 18px -6px -6px;
  align-self: center
}

.contact__item:hover {
  cursor: pointer;
  transform: scale(1.03)
}

.LatestProjects__item:hover,
.LatestProjects__picture:hover,
.contact__project:hover,
.download-button:hover,
.gotoprojects:hover {
  cursor: pointer;
  transform: scale(1.02)
}

.MyWork-container,
.socials-container {
  margin-left: -10%;
  padding-left: 10%;
  overflow-x: scroll
}

.socials {
  margin: 5px;
  padding-bottom: 15px
}

.LatestProjects,
.MyWork {
  max-width: none;
  flex-direction: row;
  text-decoration: none;
  display: flex
}

.download-button {
  min-width: 160px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 10px
}

.MyWork {
  margin: auto
}

.MyWork__item,
.Recommended__item,
.workflow__item {
  margin: 10px;
  text-decoration: none;
  text-align: center
}

.animate__animated .animate__backInLeft {
  --animate-duration: 1s
}

.latest-projects-container {
  margin-left: -10%;
  padding-left: 10%;
  overflow-x: scroll;
  animation: heartBeat
}

.LatestProjects {
  margin-bottom: 50px;
  padding-top: 25px
}

.latestprojectsheader {
  margin: 10px;
  text-align: left
}

.LatestProjects__item {
  margin: 10px;
  text-decoration: none;
  transition: .2s ease-in-out
}

.LatestProjects__picture {
  width: 262px;
  height: 169px;
  border-radius: 30px
}

.latestprojectstext {
  font-size: 14px;
  font-weight: 300;
  color: #7a7a7a;
  text-decoration: none;
  margin: 10px;
  max-width: 260px
}

.latestprojectsbutton {
  font-weight: 600;
  font-size: .8rem;
  text-align: center;
  color: #306fdb;
  background-color: transparent;
  border: none;
  transition: .1s ease-in-out;
  cursor: pointer;
  border-radius: 30px
}

.latestprojectsbutton:hover {
  text-shadow: #000;
  border: 2px solid #306fdb;
  border-radius: 30px;
  color: #2487dd !important;
  opacity: 1
}

.Recommended,
.workflow {
  margin: auto;
  text-decoration: none;
  max-width: none;
  display: flex;
  flex-direction: row;
  overflow-x: scroll
}

.CollectionHeader {
  margin-left: 30px;
  margin-bottom: -25px;
  font-size: 19px;
  font-weight: 500
}

.CollectionMyWork {
  margin-left: 30px;
  font-size: 30px;
  font-weight: 500
}

.collection__item {
  max-width: 270px;
  margin: 10px
}

.collection__itemtext {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none
}

.collection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row
}

.collection_projectpage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.collection__photo {
  max-width: 100%
}

.gotoprojects {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, .3);
  padding: 6px 13px;
  transition: .2s ease-in-out
}

.about_text_container_effect,
.project_text_container_effect {
  padding: 5px 30px;
  box-shadow: 0 0 18px -10px rgba(0, 0, 0, .4);
  transition: .2s ease-in-out
}

.gotoprojects:hover {
  background: rgba(0, 0, 0, .3);
  border: 2px solid rgba(255, 255, 255, .3)
}

.project__photo {
  max-height: 500px;
  width: 100%;
  object-fit: cover
}

.projectcontent {
  max-width: 900px;
  margin-top: -30px
}

.project_text_container_effect {
  border-radius: 30px;
  margin-bottom: 40px
}

.about_text_container_effect {
  max-width: 1000px;
  width: 95%;
  border-radius: 30px;
  margin: 0 auto
}

@keyframes FadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.animated-image {
  animation-name: FadeIn;
  animation-duration: 2s
}

.project__item {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.contactme {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 168px;
  height: 70px;
  border-radius: 30px;
  background: rgba(0, 0, 0, .4)
}

.contactmeheader {
  position: absolute;
  margin-left: 20px;
  top: 13%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, .7)
}

.email {
  position: absolute;
  left: 70%;
  top: 32%
}

.center,
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center
}

.profile {
  max-width: none;
  margin: 0 auto
}

* {
  box-sizing: border-box
}

.page-header {
  display: flex;
  width: 95%;
  padding-top: 20px;
  margin: 0 auto
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: center
}

.logo {
  position: relative;
  width: 40px;
  margin-top: 5px
}

.grid__item {
  display: inline-block;
  width: 33%
}

@supports (backdrop-filter:none) {
  .contactme {
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(8px)
  }
}

@supports (display:grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0
  }

  .grid__item {
    background-color: var(--gray);
    width: auto;
    height: auto;
    margin: 0;
    display: subgrid
  }

  .griditemphoto {
    width: 100%
  }

  .button,
  button {
    display: inline-block;
    padding: 10px;
    transition-duration: .2s;
    transition-property: opacity
  }

  .button:focus,
  .button:hover {
    cursor: pointer;
    opacity: .4
  }

  .animate__animated {
    display: inline-block;
    animation: 4s fadeInRight
  }

  .cloud-front,
  .sun {
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear
  }

  @keyframes color-change {
    0% {
      fill: var(--color-sun-one)
    }

    50% {
      fill: var(--color-sun-two)
    }

    100% {
      fill: var(--color-sun-three)
    }
  }

  .sun {
    animation-duration: 6s;
    animation-name: color-change
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px)
    }

    to {
      transform: translate(500px, 50px)
    }
  }

  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px)
    }

    to {
      transform: translate(100px, 48px)
    }
  }

  .cloud-back {
    animation: 40s linear infinite alternate cloud-move-reverse
  }

  @media only screen and (max-width:700px) {
    .about-picture {
      display: flex;
      justify-content: center
    }

    .about-text {
      margin-left: -10px;
      margin-right: -10px;
      margin-top: -50px
    }
  }

  @media only screen and (max-width:434px) {
    .introtext {
      margin-top: 60px;
      margin-left: 10px
    }

    .helloworld {
      margin-top: 75px
    }
  }

  @media all and (max-width:500px) {
    .grid {
      grid-template-columns: 1fr 1fr
    }
  }

  @media all and (min-width:500px) and (max-width:750px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr
    }
  }

  @media all and (max-width:750px) {
    .grid {
      grid-gap: 10px
    }
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto
  }

  h1 {
    font-size: 22px
  }
}